* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EFF2F1;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

img {
    width: 100px;
    height: auto;
}

#content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: 1fr / 1fr 4fr;
    grid-template-areas: "sidebar main";
}

.sidebar {
    background-color: #FF3F00;
    
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main {
    background-color: #537A5A;
    
    grid-area: main;

    display: flex;
    flex-direction: column;
}

.banner {
    flex: 0 1 300px;
    background-image: url('./main-baner.jpg');
    background-position: center;
    background-size: cover;
}
.content {
    flex: auto;
}