* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EFF2F1;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

h1{
    margin-top: 10px;
    font-size: 4rem;
}

img.chicken {
    width: 100px;
    height: auto;
}

img.owners {
    width: 350px;
    height: auto;
    border-radius: 50px;
    border: 5px solid white;
}

#content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: 10fr 1fr / 1fr 4fr;
    grid-template-areas: 
    "sidebar main"
    "footer footer";
}

.sidebar {
    background-color: #FF3F00;
    border-right: 10px solid #FFE900;
    
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    z-index: 2;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 110px;
    font-weight: bold;

    border: 2px solid #EFF2F1;
    background-color: #002D72;
    padding: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    width: 100%;
}

.links > a {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    background-color: #002D72;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;

    transition: 0.4s, background-position 0s;
}

.links > a:hover {
    border-right: 2px solid #000000;
    transform: scale(1.2);
    background-color: #EFF2F1;
    color:#002D72;    
}

.main {    
    background-color: #537A5A;

    grid-area: main;

    display: flex;
    flex-direction: column;
}

.banner {
    flex: 0 1 300px;
    background-position: center;
    background-size: cover;

    box-shadow: 0 5px 50px black;
}
.content {
    flex: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 98%;
    height: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

.content-wrapper > div {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.owners-square {
    margin-top: 20px;
    max-width: 310px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: #FF3F00;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px black;
}

.plus {
    width: 100px;
    height: auto;
}

.cock-size {
    height: 200px;
    width: auto;
    align-self: center;
}

.cock-size:hover, .owners-square:hover {
    transform: scale(1.2);
}

.owners-square > p {
    color:#000000;
}

.intro-wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #283b2b;
    width: 100%;
    padding: 20px 0;

    flex-wrap: wrap;
}

.intro-wrapper > p {
    max-width: 500px;
    min-width: 300px;
    font-size: 1.5rem;

    flex: auto;
}
.owners {
    flex: 0 1 auto;
}

.owners-selfie{
    height: 300px;
    width: 225px;
    border-radius: 50px;
}

.footer {
    grid-area: footer;

    background-color: #283b2b;

    display: flex;
    justify-content: center;
    align-items: center;
}