* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EFF2F1;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

img {
    width: 100px;
    height: auto;
}

#content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: 1fr / 1fr 4fr;
    grid-template-areas: "sidebar main";
}

.sidebar {
    background-color: #FF3F00;
    border-right: 10px solid #FFE900;
    
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    z-index: 2;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 110px;
    font-weight: bold;

    border: 2px solid #EFF2F1;
    background-color: #002D72;
    padding: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    width: 100%;
}

.links > a {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    background-color: #002D72;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;

    transition: 0.4s, background-position 0s;
}

.links > a:hover {
    border-right: 2px solid #000000;
    transform: scale(1.2);
    background-color: #EFF2F1;
    color:#002D72;    
}

.main {
    background-color: #537A5A;
    
    grid-area: main;

    display: flex;
    flex-direction: column;
}

.banner {
    flex: 0 1 300px;
    background-image: url('./main-baner.jpg');
    background-position: center;
    background-size: cover;

    box-shadow: 0 5px 50px black;
}
.content {
    flex: auto;
}